# Godot
.godot/
.import/

# Export
export.cfg
export_presets.cfg

# Temporary / OS
*.tmp
*.log
*.cache

# OS files
.DS_Store
Thumbs.db

# IDE (если вдруг)
.vscode/
.idea/

# Import files (можно оставить, но чаще игнорят)
*.import